.c-div{
    background-color: aquamarine;
    border: 5px solid #000;
    padding: 20px;
}
.p-div{
    background-color: aqua;
    border: 5px solid #000;
    padding: 20px;
}
.giv-div{
    background-color: rgb(43, 226, 189);
    border: 5px solid #000;
    padding: 20px;
}