@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width:1300px;
    margin: 0 auto;
    padding: 20px;
}
.grid{
    display: grid;
    gap:20px;
}
.grid-three-col{
    grid-template-columns: 1fr 1fr 1fr;
}
.btn{
    padding: 8px 12px;
    background-color: blue;
    color:#fff;
    margin: 0 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}